body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #0077ff, #00d4ff);
  color: white;
  text-align: center;
  padding: 50px;
}

button {
  background: white;
  color: #0077ff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}